html {
	height:100%;
	margin: 0 auto;
	font-family: 'BebasNeueRegular'; 
	min-height: 100%;
	position:relative;
}

body {
	margin:0 0 0px;
	height: 100%;
}

header {
	width: 100%;
	height: auto;
	background-color: #172457;
	background-size: 100% 100%;
	display: flex;
  	height: auto;
	position:relative;
	width: auto;
	margin: 0 0 4.7em 0;
	font-family: 'BebasNeueRegular';
	box-shadow: 0px 0px 18px 4px rgba(0,0,0,0.75);
/*	box-shadow: 0px 9px 1px 0px rgba(0,0,0,1);*/
}

.h-h {
	display: table-cell;
	text-align: center;
	position: relative;
	float: left;
	width: 59%;
	height: auto;
	margin: 0em 0em;
	padding: 5em 0em;
}

.h-h-t {
	color: white;
/*	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
	font-weight: bold;
	font-size: 2.1em;
	padding: 0px 0px;
	font-weight: 800;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.h-h-h {
	color: #A8DB92;
	font-weight: 800;
	font-size: 1em;
/*	text-shadow: 2px 2px 1px green;*/
	letter-spacing: 0.03em;
}

.h-contain {
	display:table-cell;
	text-align: center;
	position:relative;
	padding: 0.4em 0 0.4em 0;	
	float:right;
	width: 41%;
	height: auto;
	margin:  0;
	background-color: #00151A;
}

.h-container {
	display: block;
	position: relative;
	height: 2.1em;
/*	border: 1px purple solid;*/
	padding: 0.7em 0 0.0em 0;
	background: #00151A;
	border-top: 0.0em solid #07113A;
	font-family: 'BebasNeueRegular'; 
}

.h-container:hover {
	background-color: #172457;
}

.h-c-a {
	color: white;
	text-decoration: none;
	font-weight:800;
	letter-spacing: 0.03em;
	text-transform: uppercase;

}

.body {
	font-family: 'BebasNeueRegular'; 
	width: 88%;

	margin: 2.1em auto;
	position: relative;
}

.body-box {
	font-family: 'BebasNeueRegular'; 
	width: auto;
	height: auto;
	margin-bottom: 1.1em;
	padding: 1em;
	background: white;
	color: #00151A;
	border-radius: 0.4em;
}

.body-box-title {
	font-size: 2.1em;
	text-align: left;
	font-weight: 800;
	padding-bottom: 0em;
	border-bottom: 0.1em #00151A solid;
}

.body-box-content{
	font-family: 'BebasNeueRegular'; 
	justify-content: space-between;
	text-align: justify;
	padding: 0.7em;
	padding-top: 1.6em;
}

footer {
	width: 100%;
	display: flex;
	background-color: #00151A;
	background-size: 100% 100%;
	margin: auto 0 0 0;
	color: white;
}

.f-l {
	display: table-cell;
	text-align: justify;
	position: relative;
	float: left;
	width: 30%;
	padding: 1em;
}

.f-r {
	display: table-cell;
	text-align: right;
	position: relative;
	float: right;
	width: 100%;
	padding: 1em;
}

.body-box-read {
	display: block;
	position: relative;
	text-align: center;
	height: 2.1em;
	color: white;
/*	border: 1px purple solid;*/
	margin-top: 1em;
	padding: 0.7em 0 0em 0;
	background: #00151A;
	border-top: 0.0em solid #07113A;
	font-family: 'BebasNeueRegular'; 
}

.body-box-read:hover {
	background-color: #172457;
}

a {
	color: #00151A;
}

.body-box-swf {
width: 100%;
height: 43em;
text-align: center;
}

.joc:hover {
	background-color: #095D95;
}